/* Main styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
/* Variables */

:root {
  --color-win: #35ce5b;
  --color-lose: #f35653;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #d2d2d2;
  --color-keys: #37474f;
  --color-keys-light: #e5e5e5;
  --primary-color: #f3b153;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all 0.2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: var(--primary-color);
}

li,
ol,
ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#btn__reset {
  width: 300px;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
  background: linear-gradient(145deg, #ffbd59, #db9f4b);
  box-shadow: 20px 20px 60px #cf9647, -20px -20px 60px #ffcc5f;
  border: none;
}

#btn__reset:focus,
#btn__reset:active {
  background: linear-gradient(145deg, #db9f4b, #ffbd59);
  box-shadow: 20px 20px 60px #cf9647, -20px -20px 60px #ffcc5f;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li {
  margin-top: 15px;
}

/* Title */

.header {
  color: #3a3f58;
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 70px;
  width: 70px;
  padding: 20px 1px 0 1px;
  margin-right: 5px;
  color: transparent;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 5px;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background: #f3a153;
  box-shadow: 20px 20px 60px #cf8947, -20px -20px 60px #ffb95f;
  font-size: 20px;
  height: 70px;
  width: 70px;
  padding: 20px 1px 0 1px;
  margin-right: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-win);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #ffffff;
}

.wrong {
  background: var(--color-lose);
  color: #ffffff;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, 0.3);
  border-right: solid 3px rgba(0, 0, 0, 0.3);
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  background: linear-gradient(145deg, #db9f4b, #ffbd59);
  box-shadow: 20px 20px 60px #cf9647, -20px -20px 60px #ffcc5f;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #ffffff;
  justify-content: center;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.btn-win {
  background: none !important;
  background-color: var(--color-win) !important;
  box-shadow: 20px 20px 60px #47cf57, -20px -20px 60px #5fff75 !important;
  border: none !important;
}

.btn-lose {
  background-color: var(--color-lose) !important;
  box-shadow: 20px 20px 60px #cf4947, -20px -20px 60px #ff635f !important;
  background: none !important;
  border: none !important;
}

.title {
  color: var(--color-neutral);
}

.start {
  background-color: #3a3f58;
}

.start a {
  color: #fff;
}

.win {
  background-color: var(--color-win) !important;
}

.win a {
  color: var(--color-win);
}

.lose {
  background: var(--color-lose) !important;
}

.lose a {
  color: var(--color-lose);
}
